.slider-wrapper {
  position: relative;
}
img {
  width: 100%;
}
.fa-solid {
  color: black;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.fa-circle-arrow-right {
  right: 30px;
}
.fa-circle-arrow-left {
  left: 30px;
}

.dotsparent {
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.dots {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}
.dots.active {
  border: 2px solid black;
}
.slide-bg {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
